h1, h2, h3, h4, h5 {
  color: #000 !important;
}
a {
  text-decoration: none !important;
}

.detail--post {
  border: 1px solid black !important;
  width: 100% !important;
}

.nav--link {
  color: hsla(0,0%,100%,.55)
}